 * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
 }

 body {
  background-color: #dff555;
 }

 /* box1 */
 .navbar {
    height: 3.8rem;
    background-color: #131921;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 1rem;
 }

 .amazon-logo {
    width: 7.1rem;
 }

 .logo {
    width: 100%;
    height: 3.2rem;
    background-image: url("./amazon_logo.png");
    background-size: cover;
 }

 .border {
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
 }

 .border:hover {
    border: 1px solid white;
 }


 /* box 2 */
 .nav-address {
   display: flex;
   width: 5.3rem;
   height: 3.2rem;
   justify-content: center;
   align-items: center;
 }

 .add-icon {
   width: 1rem;
   height: 1.3rem;
   margin-top: 0.9rem;
   margin-right: 0.4rem;
 }

 .add-first {
   color: #CCCCCC;
   font-size: 0.75rem;
 }

 .add-second {
   font-size: 0.88rem;
   padding-bottom: 1px;
 }


 /* box 3 */
 .nav-search {
   height: 2.5rem;
   margin-left: 0.6rem;
   width: 50rem;
   display: flex;
   justify-content: space-between;
 }

 .search_select {
   background-color: #e6e6e6;
   color: #6a6e6e;
   width: 3.18rem;
   border: none;
   border-radius: 4px 0px 0px 4px;
   text-align: center;
 }
 .search_select:hover {
   background-color: #e6e6e6f1;
   color: black;
 }
 option {
   background-color: #FFFFFF;
   color: #0f1111;
 }

 .search-input {
   width: 100%;
   border: none;
   font-size: 1rem;
   padding-left: 0.6rem;
 }

 .search-button {
   width: 3.1rem;
   border: none;
   border-radius: 0px 4px 4px 0px;
   background-color: #febd69;
   font-size: 1.3rem;
   color: rgba(0, 0, 0, 0.711);
 }


 /* box 4 */
 .nav-signin {
  width: 8.75rem;
  height: 3.1rem;

 }

 .signin {
  font-size: 0.75rem;
 }

 .account {
  font-size: 0.9rem;
  font-weight: bold;
 }


 /* box 5 */

 .nav-return {
  width: 4.8rem;
  height: 3.1rem;
 }
 .returns {
  font-size: 0.75rem;
 }

 .orders {
  font-size: 0.9rem;
  font-weight: 600;
 }


 /* box 6 */
 .nav-cart {
  width: 5.2rem;
  height: 3.1rem;
 }

 .nav-cart i{
  font-size: 1.75rem;
 }

 .flex {
  display: flex;
  justify-content: center;
  align-items: center;
 }




 /* panel */
 .panel {
  height: 2.4rem;
  background-color: #232f3e;
  display: flex;
  color: #FFFFFF;
  padding-left: 0.62rem;
 }

 .panel-menu {
  height: 2.27rem;
  width: 3.64rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .panel-menu p {
  margin-left: 0.31rem;
  font-size: 0.88rem;
 }


 .panel-option {
  display: flex;
 }

 .panel-option div {
  height: 2.27rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.88rem;
  margin-left: 0.31rem;
  margin-right: 0.31rem;
 }

 .opt1 {
  width: 6rem;
 }

  .opt2 {
  width: 5.43rem;
 }

  .opt3 {
  width: 3.86rem;
 }

  .opt4 {
  width: 4.55rem;
 }

  .opt5 {
  width: 7.5rem;
 }

  .opt6 {
  width: 2.08rem;
 }