 * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
 }
 
   body {
    background-color: #e3e6e6;
   }
 /* box1 */
 .navbar {
    height: 3.8rem;
    background-color: #131921;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.4rem;
    padding-right: 1rem;
 }

 .amazon-logo {
    width: 7.1rem;
 }

 .logo {
    width: 100%;
    height: 3.2rem;
    background-image: url("./amazon_logo.png");
    background-size: cover;
 }

 .border {
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
 }

 .border:hover {
    border: 1px solid white;
 }


 /* box 2 */
 .nav-address {
   display: flex;
   width: 5.3rem;
   height: 3.2rem;
   justify-content: center;
   align-items: center;
 }

 .add-icon {
   width: 1rem;
   height: 1.3rem;
   margin-top: 0.9rem;
   margin-right: 0.4rem;
 }

 .add-first {
   color: #CCCCCC;
   font-size: 0.75rem;
 }

 .add-second {
   font-size: 0.88rem;
   padding-bottom: 1px;
 }


 /* box 3 */
 .nav-search {
   height: 2.5rem;
   margin-left: 0.6rem;
   width: 50rem;
   display: flex;
   justify-content: space-between;
 }

 .search_select {
   background-color: #e6e6e6;
   color: #6a6e6e;
   width: 3.18rem;
   border: none;
   border-radius: 4px 0px 0px 4px;
   text-align: center;
 }
 .search_select:hover {
   background-color: #e6e6e6f1;
   color: black;
 }
 option {
   background-color: #FFFFFF;
   color: #0f1111;
 }

 .search-input {
   width: 100%;
   border: none;
   font-size: 1rem;
   padding-left: 0.6rem;
 }

 .search-button {
   width: 3.1rem;
   border: none;
   border-radius: 0px 4px 4px 0px;
   background-color: #febd69;
   font-size: 1.3rem;
   color: rgba(0, 0, 0, 0.711);
 }


 /* box 4 */
 .nav-signin {
  width: 8.75rem;
  height: 3.1rem;

 }

 .signin {
  font-size: 0.75rem;
 }

 .account {
  font-size: 0.9rem;
  font-weight: bold;
 }


 /* box 5 */

 .nav-return {
  width: 4.8rem;
  height: 3.1rem;
 }
 .returns {
  font-size: 0.75rem;
 }

 .orders {
  font-size: 0.9rem;
  font-weight: 600;
 }


 /* box 6 */
 .nav-cart {
  width: 5.2rem;
  height: 3.1rem;
 }

 .nav-cart i{
  font-size: 1.75rem;
 }

 .flex {
  display: flex;
  justify-content: center;
  align-items: center;
 }




 /* panel */
 .panel {
  height: 2.4rem;
  background-color: #232f3e;
  display: flex;
  color: #FFFFFF;
  padding-left: 0.62rem;
 }

 .panel-menu {
  height: 2.27rem;
  width: 3.64rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .panel-menu p {
  margin-left: 0.31rem;
  font-size: 0.88rem;
 }


 .panel-option {
  display: flex;
 }

 .panel-option div {
  height: 2.27rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.88rem;
  margin-left: 0.31rem;
  margin-right: 0.31rem;
 }

 .opt1 {
  width: 6rem;
 }

  .opt2 {
  width: 5.43rem;
 }

  .opt3 {
  width: 3.86rem;
 }

  .opt4 {
  width: 4.55rem;
 }

  .opt5 {
  width: 7.5rem;
 }

  .opt6 {
  width: 2.08rem;
 }


 /* hero-section styling */

 .hero-section {
  width: 100%;
  height: 19rem;
  /* background-image: url("./hero/image1.jpg"); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation-name: hero-image-animation;
  animation-duration: 20s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
 }


@keyframes hero-image-animation {
  0% {background-image: url("./hero/image1.jpg");}
  25% {background-image: url("./hero/image2.jpg");}
  50% {background-image: url("./hero/image3.jpg");}
  75% {background-image: url("./hero/image4.jpg");}
}

.hero-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6f6;
  width: 83.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 0.87rem;
  position: relative;
  bottom: 20px;
}
.hero-msg a {
  margin-left: 5px;
  text-decoration: none;
  color: #2162a1;
}
.hero-msg a:hover {
  text-decoration: underline;
}



/* shopping section styling */


.shopping-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* padding: 0px 12px; */
}

.shopping-box {
  background-color: #FFFFFF;
  margin-bottom: 1.1rem;
  width: 17.6rem;
  height: 23.5rem;
  padding: 20px;
}

.box-heading {
  width: 100%;
  height: 2rem;
  font-size: 1.31rem;
  font-weight: bold;
}
.img-box {
  width: 100%; 
  height: 19rem;
}
.img-box:hover {
  cursor: pointer;
}

.box-footer {
  margin-top: 1.2rem;
}
.box-footer a{
  text-decoration: none;
  font-size: 0.82rem;
  color: #2162a1;
}


.multi-img-box {
  /* border: 0.5px solid black; */
  width: 100%; 
  height: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  display: flex;
  margin-top: 1.3rem;
  width: 100%;
  justify-content: space-between;
}

.img {
  width: 8.4rem;
  height: 6.5rem;
}
.img:hover {
  cursor: pointer;
}
.img-text-box {
  font-size: 0.75rem;
}




/* Footer section styling */
/* panel 0 */
.foot-panel0 {
  height: 11.75rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel-border {
  border:1px solid rgba(106, 110, 110, 0.2);
  border-radius: 4px;
  height: 9.15rem;
  width: 99%;
  text-align: center;
}
.panel-text {
  margin-top: 40px;
  margin-bottom: 7px;
  font-size: 1.5rem;
  font-weight: 600;
}
.sign-in{
  width: 14.28rem;
  height: 1.88rem;
  border: none;
  border-radius: 20px;
  background-color: #ffd814;
}
.sign-in:hover {
  cursor: pointer;
  background-color: #f6ce08;
}
.new-customer {
  font-size: 0.69rem;
  margin-top: 5px;
}
.new-customer a {
  color: #2162a1;
}


/* panel 1 */
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 3.12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  border: none;
}
.foot-panel1:hover {
  cursor: pointer;
  background-color: #37475aeb;
}


/* panel 2 */
.foot-panel2 {
  background-color: #232f3e;
  color: white;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  border: none;
}
ul {
  margin-top: 2.5rem;
}
ul p{
  font-weight: 600;
}
ul a {
  display: block;
  color: #dddddd;
  font-size: 0.88rem;
  margin-top: 0.625rem;
  text-decoration: none;
}
ul a:hover {
  text-decoration: underline;
}


/* panel 3 */
.foot-panel3 {
  background-color: #232f3e;
  color: white;
  border-top: 1px solid rgba(106, 110, 110, 0.6);
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-image: url("./amazon_logo.png");
  background-size: cover;
  height: 3.125rem;
  width: 6.25rem;
}

/* panel 4 */
.foot-panel4 {
  background-color: #131a22;
  color: white;
  height: 5rem;
  font-size: 0.75rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.pages {
  text-align: center;
  padding-top: 1.4rem;
}
.pages a {
  text-decoration: none;
  color: white;
  margin-left: 0.6rem;
}
.copyright {
  padding-top: 0.31rem;
  text-align: center;
}